@model EGrowFrontendMVC.Models.DeviceRegistrationResponse

@{
    ViewData["Title"] = "DeviceRegistration";
}

<h1>Registracija nove naprave</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <h4>V polje spodaj vnesite identifikacijsko številko, ki jo najdete na spodnji strani eGrow naprave.</h4>
        @Html.ValidationSummary()
        <form asp-action="DeviceRegistration">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="deviceGuid" class="control-label">ID naprave</label>
                <input asp-for="deviceGuid" class="form-control" />
                <span asp-validation-for="deviceGuid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Potrdi" class="btn btn-primary" />
            </div>
        </form>
        @{
            if (ViewBag.Success != null)
            {
                <div style="color:#068c2a">
                    @ViewBag.Success
                </div>
            }
        }

    </div>
</div>


