
@{
    ViewData["Title"] = "DeviceRegistration";
}

<h1>DeviceRegistration</h1>

<div class="row">
    <div class="col-md-4">
    <form asp-action="DeviceRegistration">
        <input type="submit" value="Registracija" class="btn btn-primary" />
    </form>
</div>
    </div>
