@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kaj je eGrow</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae tellus rutrum, commodo tellus et, mattis est. Suspendisse ultrices, diam a sagittis iaculis, libero augue volutpat risus, sit amet molestie nibh dolor eu mi. Nunc varius consectetur dui in volutpat. Maecenas convallis egestas ligula id luctus. Cras at velit nec nibh consectetur vulputate. Sed fermentum rhoncus justo, id mattis elit finibus sit amet. Cras tellus dui, consequat vitae erat quis, finibus gravida neque. Ut at facilisis lacus. Proin posuere eget magna vel accumsan. Aenean dignissim eros eget eros accumsan elementum. Donec tempor molestie ipsum, in consequat quam bibendum sed. Pellentesque elementum vehicula venenatis.

        Sed egestas ligula in neque cursus ornare. Nam urna velit, vulputate sagittis tellus at, viverra ullamcorper quam. Etiam sagittis lacus ut orci vestibulum, vel fringilla nibh malesuada. Pellentesque aliquet fringilla lectus, ut pulvinar metus porttitor rutrum. Donec posuere auctor diam, at auctor ipsum facilisis pellentesque. In luctus id mauris in sagittis. Maecenas euismod commodo metus eget hendrerit. Aliquam eu mi nec mauris molestie cursus. Aliquam semper cursus nisi sit amet tempus. Aliquam sodales ornare pulvinar. Vestibulum et diam dictum, sagittis magna eu, euismod dolor. Nunc id dolor sed mauris cursus interdum vel in felis.
    </p>
</div>
