@{
    ViewData["Title"] = "Home Page";
}

<body style="background-image: url('https://cdn.discordapp.com/attachments/951048725617315860/951226746072629288/HomePageLogoPlusBackground.png') ">

    <div style="font-family: 'Century Gothic'" class="text-center">
        <h1 style="margin-top: 40px; font-size: 50px">KAJ JE <b style="color: #204108; font-size: 65px">e</b><b style="color: #89a72d; font-size: 65px">Gr</b><b style="color: #204108; font-size: 65px">o</b><b style="color: #89a72d; font-size: 65px">w</b></h1>
        <br />
        <p style="text-align: left; font-size: 20px">
            <b style="color: #204108; font-size: 30px">e</b><b style="color: #89a72d; font-size: 30px">Gr</b><b style="color: #204108; font-size: 30px">o</b><b style="color: #89a72d; font-size: 30px">w</b> 
            je produkt, ki predstavlja mini optimizirano toplo gredo, to je notranja toplotna
            greda, ki je velikosti nočne omarice oz. mini hladilnika. Gre za praktično napravo, ki rešuje
            problem vrtičkanja predvsem za ljudi v mestih, kjer imajo za to dejavnost malo ali celo nič
            prostora. Ker smo ljudje v vsakodnevnem življenju zaposleni s službo ipd. naš produkt rešuje tudi
            časovni problem, saj gre za avtomatizirano napravo, ki zraven osnovnega gojenja rastlin nudi
            preko umetne inteligence tudi prepoznavo morebitnih bolezni na rastlini. Omogoča
            spremljanje napredka trenutnega stanja in proženja različnih funkcij, kot so na primer: ročno
            zalivanje, prižiganje in ugašanje luči, to je uporabniku omogočeno preko nadzorne plošče v
            <b>spletni aplikaciji</b>, kjer lahko registriran uporabnik prijavi svoj produkt.
        </p>
        <p style="text-align: left; font-size: 20px">
            <b style="color: #89a72d">Naše prednosti:</b> <b>A</b>vtomatizirano gojenje, <b>U</b>stvarjanje optimalnih pogojev za rast glede na
            posajeno rastlino, <b>P</b>repoznavnost morebitnih bolezni na rastlinah; <b>S</b>premljanje vaših rastlin preko
            spletne aplikacije; <b>S</b>premljanje napredka (beleženje podatkov o rasti, …); <b>S</b>premljanje
            zgodovine in ustvarjanje grafov, poročil, ...
        </p>
        <br/>
        <br/>
        <p style="font-size: 35px; text-align: center">HVALA, DA STE IZBRALI <b style="color: #204108; font-size: 50px">e</b><b style="color: #89a72d; font-size: 50px">Gr</b><b style="color: #204108; font-size: 50px">o</b><b style="color: #89a72d; font-size: 50px">w</b></p>
    </div>

</body>

