@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Device> devices = ((Device[])ViewData["devices"]).ToList();
}
<div class="d-flex justify-content-around flex-wrap ">

    @foreach (Device device in devices)
    {
        <div class="mx-2 three-per-row mt-2">
            <div style="height: 280px; width: 250px" class="p-2 gradient border border-gray">
                <a href="/devices/details/@device.deviceGuid">
                    <div class="d-flex flex-column align-items-center px-2 py-5 bg-white   border border-dark rounded-circle">
                        <img src="./Assets/plant.png" style="max-height: 100px; max-width: 100px;" />
                        @*<div class="text-center mt-1">Čas | 9 dni</div>*@
                    </div>
                </a>
                <h4 class="mb-2 mt-2 text-center text-white">Naprava @device.deviceId</h4>
            </div>
        </div>
    }
</div>


<style>
    .icon-25 {
        width: 25px;
        height: 25px;
    }

    .gradient {
        height: 100%;
        background: linear-gradient(0deg, #98ad5a 50%, #FFF 50%);
    }

    .text-gray {
        color: #969696;
    }

    .border-gray {
        border-color: #595959;
    }


    .three-per-row {
        flex-basis: 25%;
    }
</style>
