@model EGrowFrontendMVC.Models.User

@{
    ViewData["Title"] = "GetUser";
}

<div class="container">
    <h1>Pozdravljeni</h1>
    <br />
    <h4 class="border-bottom">User id</h4>
    <p>
        @Model.userId
    </p>
    <h4 class="border-bottom">Username</h4>
    <p>
        @Model.username
    </p>
    <h4 class="border-bottom">Password</h4>
    <p>
        @Model.password
    </p>
</div>
